body{
    background-color: #f8f9fa;
}
a{
    color: #BC8F8F;
}
.Botoes{
  display: flex;
  gap: 10px;             
  justify-content: flex-end; 
  padding: 10px;
}
.Button{
  background-color:#8f6ecc;
  color: rgb(240, 226, 226);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;

}
.Button:hover{
    background-color: #593ea3;
}
.foto{
    position: absolute;
    right: 40px;
    top: 115px; 
    height: 600px;
    border-radius: 90px 90px 100px 100px;
    border: 5px solid #583ca3;
    
}

.container{
    background-color: rgb(211, 225, 240);
    border-radius: 30px 30px 30px 30px;
    height: 900px;
    margin-top: 15px;
}
.Fundo {
  position: relative;
  width: 100%;
  height: 100%;
}
.Header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px 30px 30px 30px;
}
.Principal{
  position: absolute;
  top: 360px;
  left: 35%;
  transform: translateX(-50%);
  color:#18588d ;
  padding: 8px 16px;
  font-size: 130px;
  font-weight:bold;
  font-family: 'Pirata One', fantasy;
    
}

.Cientista{
  position: absolute;
  top: 735px;
  left: 48%;
  transform: translateX(-50%);
  color: #8f6ecc;
  padding: 8px 16px;
  font-size: 35px;
  font-weight:bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Portfolio{
  position: absolute;
  top: 220px;
  left: 20%;
  transform: translateX(-50%);
  color: #8f6ecc;
  padding: 8px 16px;
  font-size: 50px;
  font-weight:bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.texto{
  position: absolute;
  left: 58%;
  transform: translateX(-50%);
  color:#18588d ;
  padding: 8px 16px;
  font-size: 70px;
  font-weight:bold;
  margin-top: 7%;
  font-family:"Poppins", sans-serif

}

.p {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  color: #0a0a0a;
  padding: 8px 16px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 13%;
  font-family: "Courier New", monospace;
  width: 60%; 
  max-width: 800px;
}
.p1{
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  color: #0e0d0d;
  padding: 8px 16px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25%;
  font-family: "Courier New", monospace;
  width: 60%; 
  max-width: 800px;
}
.foto2{
  position: absolute;
  left: 50px;
  margin-top: 6%; 
  height: 750px;

}

.C3{
  margin-top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 10px;
}

.formacao1{
  height: 700px;
  width: 500px;
  background-color: #e9f0fa ;
  border-radius: 40px;

}
.formacao1:hover{
  background-color:#ddecfc;
}
.fotoqa{
  position: absolute;
  left: 0px;
  margin-top: 2%; 
  height: 500px;
}
.formacao2{
  height: 700px;
  width: 500px;
  background-color:#e9f0fa;
  border-radius: 40px;

}
.formacao2:hover{
  background-color:#ddecfc;
}

.fotoFrontEnd{
  position: absolute;
  left: 470px;
  margin-top: 2%; 
  height: 500px;
}

.formacao3{
  height: 700px;
  width: 500px;
  background-color:#e9f0fa;
  border-radius: 40px;
}
.formacao3:hover{
  background-color:#ddecfc;
}
.fotoBackEnd{
  position: absolute;
  left: 52%;
  margin-top: 4%; 
  height: 400px;
}
.formacao4{
  height: 700px;
  width: 500px;
  background-color:#e9f0fa;
  border-radius: 40px;
}
.formacao4:hover{
  background-color:#ddecfc;
}
.fotoDesign{
  position: absolute;
  left: 76%;
  margin-top: 6%; 
  height: 380px;
}

.Quality{
  position: absolute;
  margin-top: 24%;
  left: 8%;
  transform: translateX(-50%);
  color: #5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.Assurance{
  position: absolute;
  margin-top: 27%;
  left: 15%;
  transform: translateX(-50%);
  color: #5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.Front{
  position: absolute;
  margin-top: 24%;
  left: 36%;
  transform: translateX(-50%);
  color: #5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.End{
  position: absolute;
  margin-top: 27%;
  left: 40%;
  transform: translateX(-50%);
  color: #5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.Back{
  position: absolute;
  margin-top: 24%;
  left: 61%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.End2{
  position: absolute;
  margin-top: 27%;
  left: 65%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.Design{
  position: absolute;
  margin-top: 24%;
  left: 85%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}

.UX{
  position: absolute;
  margin-top: 27%;
  left: 90%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 50px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}

.Habilidades{
  background-color: #cbdcf1;
  height: 1000px;
  margin-top: 18px;
  display: flex;

}
.Tecnologias{
  position: absolute;
  margin-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 40px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}
.Conhecimentos{
  position: absolute;
  margin-top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color:#0d0d0e;
  font-size: 20px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
}
.principal{
  max-width: 1600px; 
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20%;
  align-items: start;
}
.logos {
  position: relative;
  margin-top: 0;
  height: 170px;
  border-radius: 30px;
  left: 15%;
  padding: 5px;
}

.logos:hover{
  background-color: #39289b;
}
.EventosTech{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 10px;
}
.Eventos{
  position: relative;
  margin-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 40px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}

.mdc{
  background-color: #cbdcf1;
  height: 700px;
  margin-top: 200px;
  display: flex;
  width: 26%;
  border-radius: 30px;
}

.fotoMdc{
  position: absolute;
  left: 65px;
  margin-top:3%; 
  height: 450px;
  border-radius: 30px;
}

.Evento1{
  position: absolute;
  margin-top:28%;
  left: 13%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 40px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}

.Tech{
  background-color: #cbdcf1;
  height: 800px;
  margin-top: 10px;
  display: flex;
  width: 26%;
  border-radius: 30px;
}

.tech1{
  position: absolute;
  left: 280px;
  margin-top:2%; 
  height: 350px;
  border-radius: 30px;
}

.tech2{
  position: absolute;
  left: 28px;
  margin-top:2%; 
  height: 320px;
  border-radius: 30px;
}
.tech3{
  position: absolute;
  left: 52px;
  margin-top:21%; 
  height: 250px;
  border-radius: 30px;
}

.Evento2{
  position: absolute;
  margin-top:35%;
  left: 13%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 40px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}

.Claro{
  background-color: #cbdcf1;
  height: 800px;
  margin-top: 10px;
  display: flex;
  width: 26%;
  border-radius: 30px;
}

.claro1{
  position: absolute;
  left: 250px;
  margin-top:2%; 
  height: 300px;
  border-radius: 30px;
}

.claro2{
  position: absolute;
  left: 28px;
  margin-top:17%; 
  height: 300px;
  border-radius: 30px;
}

.Evento3{
  position: absolute;
  margin-top:35%;
  left: 13%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 40px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}

.MulherTech{
  background-color: #cbdcf1;
  height: 800px;
  margin-top: 10px;
  display: flex;
  width: 26%;
  border-radius: 30px;
}

.mulher1{
  position: absolute;
  left: 60px;
  margin-top:2%; 
  height: 280px;
  border-radius: 30px;
}

.mulher2{
  position: absolute;
  left: 260px;
  margin-top:2%; 
  height: 280px;
  border-radius: 30px;

}

.mulher3{
  position: absolute;
  left: 42px;
  margin-top: 18%; 
  height: 280px;
  border-radius: 30px;
}

.Evento4{
  position: absolute;
  margin-top:35%;
  left: 13%;
  transform: translateX(-50%);
  color:#5c6bc0;
  font-size: 40px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
}