body{
    background-color: #d2e6fc;
}
a{
    color: #BC8F8F;
}
.Botoes{
  display: flex;
  gap: 10px;             
  justify-content: flex-end; 
  padding: 10px;
}
.Button{
  background-color:#8f6ecc;
  color: rgb(240, 226, 226);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;

}
.Button:hover{
    background-color: #816bbe;
}
.foto{
    position: absolute;
    right: 40px;
    top: 115px; 
    height: 600px;
    border-radius: 90px 90px 100px 100px;
    border: 5px solid #583ca3;
    
}

.container{
    background-color: rgb(211, 225, 240);
    border-radius: 30px 30px 30px 30px;
    height: 900px;
    margin-top: 15px;
}
.Fundo {
  position: relative;
  width: 100%;
  height: 100%;
}
.Header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px 30px 30px 30px;
}
.Principal{
  position: absolute;
  top: 360px;
  left: 35%;
  transform: translateX(-50%);
  color:#18588d ;
  padding: 8px 16px;
  font-size: 130px;
  font-weight:bold;
  font-family: 'Pirata One', fantasy;
    
}

.Cientista{
  position: absolute;
  top: 735px;
  left: 48%;
  transform: translateX(-50%);
  color: #8f6ecc;
  padding: 8px 16px;
  font-size: 35px;
  font-weight:bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Portfolio{
  position: absolute;
  top: 220px;
  left: 20%;
  transform: translateX(-50%);
  color: #8f6ecc;
  padding: 8px 16px;
  font-size: 50px;
  font-weight:bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.texto{
  position: absolute;
  left: 59%;
  transform: translateX(-50%);
  color:#18588d ;
  padding: 8px 16px;
  font-size: 70px;
  font-weight:bold;
  margin-top: 7%;
  font-family: "Courier New", monospace;

}

.p {
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  color: #0a0a0a;
  padding: 8px 16px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 13%;
  font-family: "Courier New", monospace;
  width: 60%; 
  max-width: 800px;
}
.p1{
  position: absolute;
  left: 70%;
  transform: translateX(-50%);
  color: #0e0d0d;
  padding: 8px 16px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25%;
  font-family: "Courier New", monospace;
  width: 60%; 
  max-width: 800px;
}
.foto2{
  position: absolute;
  left: 50px;
  margin-top: 6%; 
  height: 750px;

}

.C3{
  margin-top: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 10px;
}

.formacao1{
  height: 700px;
  width: 500px;
  background-color:#eeebf1 ;
  border-radius: 40px;

}
.fotoqa{
  position: absolute;
  left: 0px;
  margin-top: 2%; 
  height: 500px;
}
.formacao2{
  height: 700px;
  width: 500px;
  background-color:#eeebf1;
  border-radius: 40px;

}
.fotoFrontEnd{
  position: absolute;
  left: 470px;
  margin-top: 2%; 
  height: 500px;
}

.formacao3{
  height: 700px;
  width: 500px;
  background-color:#eeebf1 ;
  border-radius: 40px;
}

.fotoBackEnd{
  position: absolute;
  left: 52%;
  margin-top: 4%; 
  height: 400px;
}
.formacao4{
  height: 700px;
  width: 500px;
  background-color:#eeebf1;
  border-radius: 40px;
}

.fotoDesign{
  position: absolute;
  left: 76%;
  margin-top: 6%; 
  height: 380px;
}
